.gradle
gradle-app.setting
.gradletasknamecache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
*.code-workspace

### Operating System ###
### Mac OS ###
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

### Linux ###
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

### WebRTC ###
*.jar
*.so
*.so.*
*.dylib
*.dll
*.a
*.lib
*.zip
*.tar.gz
*.tar.bz2
*.tgz

### Logs and databases ###
*.log
*.sqlite
*.db

### Compiled source ###
*.com
*.class
*.exe
*.o
*.obj

### Package Files ###
*.war
*.nar
*.ear
*.rar

### CMake ###
CMakeCache.txt
CMakeFiles/
cmake-build-*/

### Audio ###
*.mp3
!*.wav
*.mp4

### Exclude .a and .so files in src/main/cpp ###
src/main/cpp/**/*.a
src/main/cpp/**/*.so

### Include all directories and source code from src/main/cpp ###
!src/main/cpp/**/
